


p {
    color:blue;

    /* шрифт */
      font-size: 24px;
      font-weight: bold;
      font-family: Arial;
      font-style: italic;
      

    /* цвет */
    /* hex, rgba */

     color: blue;
     color: #0000ff; /*hex 16, 0-9 a-f */
     color: rgb(f,f,f,f);
     

    /* фон */
   background-color: black;

    /* отступы */

    /* размеры */
}
 input {
    color:blue
 }
 li {
    margin-top: 20px;
 }